<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Hola prueba</h1>
        <p th:text="${mensaje}"></p>
        <h2 th:text="${saludo}"></h2>
        <br/><!-- comment -->
        
        <table border="1">
            <tr>
                <th>Nombre</th>         
                <th>Apellido</th>
                <th>Email</th>
            </tr>                
            <tr th:each="persona : ${personas}">
                <td th:text="${persona.nombre}">Nombre: </td>         
                <td th:text="${persona.apellido}">Apellido: </td>
                <td th:text="${persona.email}">Email: </td>
            </tr>
        </table>            
      
      
    </body>
</html>
